{% extends 'base.html' %}

{% block head %}
<title>Bookings</title>
{% endblock %}

{% block body %}
<div id="cover-spin"></div>
<form action="{{ url_for('add_ten') }}" method="POST">
    <button class="btn btn-primary" type="submit">+5 min</button>
</form>
<div id="bookings" class="content">
    <h1 style="text-align: center">Bookings</h1>
    <p> Note: For current time window, only Backhaul requests can be deleted </p>
    <table class="table">
        <th>Order ID</th>
        <th>Type</th>
        <th>Zone</th>
        <th>Demand</th>
        <th>Start TW</th>
        <th>End TW</th>
        <th>Actions</th>
        {% if mainQ is not none %}    
            {% for i in range(mainQ.index|length) %}
                <tr>
                    {% for j in range(mainQ.columns|length) %}
                        {% if j==1 %}
                            {% if mainQ.iloc[i,j]==2 %}
                                <td>Linehaul</td>
                            {% else %}
                                <td>Backhaul</td>
                            {% endif %}
                        {% else %}
                            <td>{{mainQ.iloc[i,j]}}</td>
                        {% endif %}
                    {% endfor %}   
                    <td>
                        <form action="{{ url_for('delete') }}" method="POST" onsubmit="return confirm('Do you really want delete this booking?');">
                            <input type="hidden" name="bookingid" value={{i}}>
                            {% if (mainQ2[i] < 540+(tour+1)*150) and (mainQ.iloc[i,1]==2) %}
                                <button class="btn btn-secondary" disabled>Delete</button>
                            {% else %}
                                <button id="delete" type="submit" class="btn btn-danger" name="delete" onclick="$('#cover-spin').show(0)">Delete</button>
                            {% endif %}
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>

{% endblock %}