{% extends 'base.html' %}

{% block head %}
<title>Ferry Location</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Ferry Location</h1>
    <div id = "launch">
        {{ launch_location }} <br/>
        {{ launch_etd }} <br/>
    </div>
</div>

<script>
    $(document).ready(function () {
        setInterval(function () {
            $("#launch").load(location.href + " #launch");
        }, 1000);
    });
</script>

<div class="container text-center">
    <h2>Ferry Routes</h2>
    <table class="table">
        <th>Launch</th>
        <th>Colour</th>
        <tr>
            <td>1</td>
            <td>Blue</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cyan</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Black</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Magenta</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Red</td>
        </tr>
    </table>
    <div class="row">
        <div class="col">
            Tour 1
            <img src="static/img/order_Tour1_schedule.png" class="img-fluid">
        </div>
        <div class="col">
            Tour 2
            <img src="static/img/order_Tour2_schedule.png" class="img-fluid">
        </div> 
    </div>
    <div class="row">
        <div class="col">
            Tour 3
            <img src="static/img/order_Tour3_schedule.png" class="img-fluid">
        </div>
        <div class="col">
            Tour 4
            <img src="static/img/order_Tour4_schedule.png" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}