{% extends 'base.html' %}

{% block head %}
<title>Ferry Location</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Ferry Location</h1>
    <div id = "launch">
        {{ launch_location }} <br/>
        {{ launch_etd }} <br/>
    </div>
</div>

<div id="map" class="container text-center">
    <h2>Ferry Routes</h2>
    Launch 1: Blue<br>
    Launch 2: Cyan<br>
    Launch 3: Black<br>
    Launch 4: Magenta<br>
    Launch 5: Red<br>
    <div class="row">
        <div class="col">
            Tour 1
            <img id="t1" src="static/img/order_Tour1_schedule.png" class="img-fluid">
        </div>
        <div class="col">
            Tour 2
            <img src="static/img/order_Tour2_schedule.png" class="img-fluid">
        </div> 
    </div>
    <div class="row">
        <div class="col">
            Tour 3
            <img src="static/img/order_Tour3_schedule.png" class="img-fluid">
        </div>
        <div class="col">
            Tour 4
            <img src="static/img/order_Tour4_schedule.png" class="img-fluid">
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setInterval(function () {
            $("#launch").load(location.href + " #launch");
            $("img").each(function(){
                var url = $(this).attr("src");
                $(this).removeAttr("src").attr("src", url);
            })
        }, 1000);
    });
</script>

{% endblock %}